.student-card {
    border: 1px solid #603D20;
    padding: 16px;
    margin: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px #603D20;
    background-color: #FFD100;
  }
  
  .student-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  h3 {
    margin: 8px 0;
  }
  